<nz-layout dir="rtl">
  <nz-sider nzWidth="200px" nzTheme="light" class="sidebar">
    <ul>
      Menu
      <li><a>لیست1</a></li>
      <li><a>لیست2</a></li>
      <li><a>لیست3</a></li>
      <li><a>لیست4</a></li>
      <li><a>لیست5</a></li>
    </ul>
  </nz-sider>
  <nz-layout class="inner-layout" dir="ltr">
    <nz-breadcrumb >
      <nz-breadcrumb-item>Home</nz-breadcrumb-item>
      <nz-breadcrumb-item>List</nz-breadcrumb-item>
      <nz-breadcrumb-item>App</nz-breadcrumb-item>
    </nz-breadcrumb>
    <input type="text">
    <br>
    <button class="btn btn-primary">HI</button>
    </nz-layout>
</nz-layout>
